<div class="box-discapacidad">
  <h3>Anexo carnet CONADIS / cédula de identidad</h3>
  <p class="descripcion">
    Suba el documento que valide la discapacidad. Este puede ser el carnet de CONADIS y la cédula de identidad.
    El documento que se suba aquí no se debe subir en el siguiente apartado. <strong>Debe ser un único archivo.</strong>
  </p>

  <div class="fila-discapacidad">
    <label for="archivoConadis">Suba su carnet CONADIS / cédula de identidad:</label>
    <input type="file" id="archivoConadis" (change)="onArchivoSeleccionado($event, 'conadis')" accept=".pdf,.jpg,.jpeg,.png" />
  </div>

  <hr />

  <h3>Anexar documentos</h3>
  <p class="descripcion">
    Suba un documento PDF, máximo 5 Mb. Los documentos deben seguir el siguiente orden:
  </p>
  <ol class="lista-requisitos">
    <li>Certificado de calificaciones remitido por secretaría de cada carrera</li>
    <li>Certificado del Curso en Línea “Yo sé de género 1-2-3”...</li>
    <li>Certificado del Curso virtual sobre Políticas de Alcohol y Salud Pública</li>
    <li>Solicitud para incorporarse o renovar Beca...</li>
    <li>Formulario de discapacidad (Anexo 2)</li>
    <li>Copia de la Cédula de Identidad de la persona que financia sus estudios</li>
    <li>Copia del rol de pagos o certificado de ingresos de la persona que financia...</li>
  </ol>

  <div class="fila-discapacidad">
    <label for="archivoRequisitos">Suba el documento con todos los requisitos:</label>
    <input type="file" id="archivoRequisitos" (change)="onArchivoSeleccionado($event, 'requisitos')" accept=".pdf" />
  </div>

  <div class="botones">

  </div>

  <div class="navegacion">
    <button type="button" class="btn-atras" (click)="emitirVolverAtras()">⬅ Atrás</button>
    <button type="submit" class="btn-siguiente" (click)="subirArchivo()">Finalizar</button>
  </div>
</div>
