<div class="sidebar">
  <div class="usuario-contenedor">
    <div class="usuario-box">
      <p>👋 Hola, <strong>{{ nombreUsuario }}</strong></p>
    </div>

    <div class="menu-superior">
      <button (click)="navegar('/dashboard')">🏠 Inicio</button>

      <!-- Solo para admin -->
      <ng-container *ngIf="usuario?.rol === 'admin'">
        <button (click)="navegar('/usuarios')">👤 Usuarios</button>
        <button (click)="navegar('/crear-admin')">➕ Crear Admin</button>
        <button (click)="navegar('/periodos')">🗓️ Gestion Periodos</button>
        <button (click)="navegar('/lista-periodos')">📋 Lista de Periodos</button>
        <button (click)="navegar('/info-publica')">Información Pública</button>
        <button (click)="navegar('/list-solicitudes')">Lista de Solicitudes</button>
      </ng-container>

      <!-- Solo para estudiante -->
      <ng-container *ngIf="usuario?.rol === 'student'">
        <button (click)="navegar('/tipo-servicio')">🎓 Postulacion a Servicio</button>
        <button (click)="navegar('/tipo-servicio')">🎓 Revisión de Solicitud</button>
      </ng-container>
    </div>
  </div>

  <div class="menu-inferior">
    <button class="logout" (click)="logout()">🚪 Cerrar sesión</button>
  </div>
</div>
