<div class="contenedor">
  <h2>Tipo de servicio</h2>

  <div class="menu-servicios">
    <div *ngFor="let servicio of tiposServicios" class="opcion"
      [ngClass]="{ 'activo': servicioSeleccionado === servicio }" (click)="seleccionarServicio(servicio)">
      {{ servicio }}
    </div>
  </div>

  <div *ngIf="servicioSeleccionado === 'TIPOS DE BECAS'" class="subopciones">
    <div class="subopcion" *ngFor="let beca of becas" (click)="seleccionarBeca(beca)">
      {{ beca }}
    </div>
  </div>

  <div *ngIf="etapaFormulario === 1 && becaSeleccionada">
    <h3>Formulario: {{ becaSeleccionada }}</h3>
    <app-datos-personales [tipoBeca]="becaSeleccionada" (pasoCompletado)="avanzarGrupoFamiliar($event)">
    </app-datos-personales>
  </div>

  <app-datos-grupo-familiar *ngIf="etapaFormulario === 2" [datosPersonales]="datosPersonales"
    (volverAtras)="etapaFormulario = 1">
  </app-datos-grupo-familiar>


</div>